<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
        <title>OPTC - NewDB Upload</title>
</head>

<body>
    <div class="container p-4">
        <div class="row">
            <h1>FORM UPLOAD</h1>
        </div>
    </div>
</body>

</html>